<!doctype html>

<html>
    <head>
        <title>gar_chat - room:{{ room_no }}</title>
    </head>

    {% if uname=='' %}
    <body onload='fm1.uname.focus();'>
    {% else %}
    <body onload='fm1.chat.focus();'>
    {% endif %}
        {{ cur_url }}{{ room_no }}<br />
        <form method="post" action="/" name="fm1">
            名前<input type="text" id="uname" name="uname" size="10" value="{{ uname }}" />
            <input type="text" id="chat" name="chat" size="60" />
            <input type="hidden" name="room_no" value="{{ room_no }}" />
            <input type="submit" />
        </form>
        <hr />
        {% for log in logs %}
            {{ log.uname }}&nbsp;&gt;&gt;&nbsp;{{ log.chat }}&nbsp;&nbsp;({{ log.time }})<br />
        {% endfor %}
    </body>

</html>